@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik+Glitch+Pop&display=swap')

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
  }
  
  article {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
  }

img {
    float: right;
    margin-left: 10px; 
  }