@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #336699; 
    --secondary-color: #FFA500; 
    --text-color: #333; 
  }

  .hero img {
    width: 100%; 
    display: block;
}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
    color: var(--primary-color); /* Apply primary color to headings */
  }
  
  p {
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
    color: var(--text-color); /* Apply text color to paragraphs */
  }
  
  /* Remove underlines from social media links */
  .social-media a {
    text-decoration: none;
  }
  
  /* Limit entire width of the page */
  .container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
  }

h1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
  }
  
  article {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
  }

img {
    float: right;
    margin-left: 10px; 
  }