@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')

body {
    font-family: var(--paragraph-font);
    max-widthL: 960px;
    padding: 20px
}

:root {
    --primary-color:#043d3f;
    --secondary-color:#f33e06;
    --accent1-color:#ddda0a;
    --accent2-color:#070300;

    --heading-font: 'Abril Fatface', serif;
    --paragraph-font: 'arial', serif;
    --nav-background-color:#07c0f8;
    --nav-link-color:#0077b6;
    --nav-hover-link-color:#023047;
    -nav-hover-background-color:#2b2d42;
}

body {
    font-family; var(--paragraph-font)
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
}